# Root-level ignores
node_modules/
vendor/
.env
.DS_Store

# Frontend ignores
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.vercel/
frontend/out/

# Backend ignores
frontend/vendor/
frontend/storage/
frontend/.env
frontend/public/storage
frontend/bootstrap/cache/